:root {
	--main-color: #58a6ff;
	--main-color-hover: #0b7dff;
	--main-color-transparent: #58a6ff50; 
	--main-background-color : #101010;
	--sec-background-color : #1f1f1f;
	--thi-background-color: 252525;
	--border-color : #505050;
	--text-color: #fff;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: #1f1f1f;
	border-radius: 10px
}

*::-webkit-scrollbar-thumb {
	background: var(--main-color);
	border-radius: 10px
}

*::-webkit-scrollbar-thumb:hover {
	background: var(--main-color-hover);
}

body {
	background: #101010;
	color: #e0e0e0;
	font-family: Geist Mono !important;
	font-weight: 200 !important;
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    min-height: 100dvh;
	width: 100%;
	gap: 20px;
	padding: 20px;
	margin: auto;
}

@media(max-width: 900px){
	body {
		width: 100%;
		flex-direction: column
	}
}

.articles {
	display: flex;
	flex-wrap: wrap;
	gap: 10px
}

.post-item {
	display: flex; 
	flex-grow: 1; 
	flex-direction: column;
	width: -webkit-fill-available;
}

button {
	cursor: pointer;
}