
header, footer {

	max-width: 1200px;
	background: #1f1f1f;
	text-align: center;
	width: 100%;
	padding: 20px 40px;
	border: 2px solid #505050;
	border-radius: 20px;
}

header {
	display: flex; 
	align-items: center;
	justify-content: space-between;
}

@media(max-width: 900px){

	header, footer {
		width: 100%;
		padding: 20px;
	}

}