.code-container {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 6px;
    right: 6px;
    background: var(--main-background-color);
    border: 2px solid var(--border-color);
    padding: 8px 14px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 16px;
    color: var(--text-color);
}

.copy-button:hover {
    background: var(--sec-background-color);
    padding: 8px 16px;
}