.post-navigation {
	display: flex;
	gap: 10px;
	align-items:center;
	justify-content: center; 
	width: 100%; 
	margin: auto; 
	flex-direction: column
}

.post-navigation > div {
	width: 100%;
}

.post-navigation > div > a {
	text-align: center;
	border-radius: 14px;
	padding: 20px 0;
	background: var(--sec-background-color);
	color: white;
}

.post-navigation > div > a:hover {
	background: var(--sec-background-color);
}


body.light-mode .post-navigation > div > a {
	background: var(--sec-background-color);
	color: black;
}
body.light-mode .post-navigation > div > a:hover {
	background: var(--main-background-color);
}