#page-progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 4px;
	background: linear-gradient(90deg, var(--main-color-transparent), var(--main-color));
	width: 0%;
	z-index: 9999;
	transition: width 0.2s ease;
}